# Build output (but not checkpoints — those are training data)
out/*
!out/build/
out/build/*
!out/build/x64-Release/
out/build/x64-Release/*
!out/build/x64-Release/core/
out/build/x64-Release/core/*
!out/build/x64-Release/core/checkpoints/

# Visual Studio
.vs/
*.user

# LibTorch (too large, download separately)
GigaLearnCPP/libtorch/
